.post-container {
    border-radius: 4px;
    padding: 16px;
    margin: 16px;
    display: inline-block;
    background: #e0e0e0;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}

.post-title {
    font-weight: 700;
    font-size: 24px;
    margin: 0;
}

.post-body {
    margin-top: 5px;
}

.post-user {
    text-align: right;
    font-style: italic;
    margin: 0;
}
